.service-img-card {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 40px;
}
.service-img-card-in {
  width: 90%;
  display: flex;
  justify-content: center;
  justify-items: center;
  position: relative;
  z-index: 2;
  padding: 10px;
  flex-wrap: wrap;
  gap: 20px;
}
.service-img-card-in h1 {
  color: #22d3ee;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
.service-img-card-in p {
  color: #ffffffc5;
  font-size: 17px;
  text-align: center;
}
.service-img-card-item {
  display: flex;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(240, 234, 234, 0.329);
  width: 26%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}

.service-img-card-item h1 {
  position: absolute;
  top: 0px;
  left: 20px;
  color: white;
  z-index: 10;
  font-size: 14px;
  font-weight: 500;
}

.service-img-card-item img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

/* COLOR OVERLAY */
.service-img-card-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 300px;
  background: linear-gradient(
    to bottom,
    rgba(27, 13, 94, 0.055),
    rgba(111, 89, 236, 0.514)
  );
  top: 0;
  left: 0;
}
.service-img-card-item-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  right: 100%;
  padding: 20px;
  color: white;
  background: rgba(10, 27, 122, 0.5);
  transition: 0.4s;
}

/* HOVER EFFECT */
.service-img-card-item:hover .service-img-card-item-text {
  right: 0%;
}
.service-img-card-item-text p {
  display: flex;
  gap: 4px;
  font-size: 15px;
  padding: 2px;
  margin-top: 4px;
}
#cheak {
  font-size: 14px;
  margin-top: 4px;
  padding-right: 4px;
}

/* All btm */

.allbtn {
  height: 46px;
  width: 100%;
  border: 1px solid rgba(252, 250, 250, 0.055);
  overflow: hidden;
  border-radius: 28px;
position: relative;
cursor: pointer;
}

.allbtn-in {
  background-color: #f97316;
  height: 100%;
  width: 30%;
  transition: all 0.5s ease;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
}

.allbtn:hover .allbtn-in {
  width: 100%;
  border-radius: 10px;
}
.allbtn-in a {
  color: #ffffff;
 font-size: 16px;
font-weight: 500;
position: absolute;
left: 10px;
top: 10px;

}


@media (max-width: 768px) {
.allbtn {
  width: 44%;
}
.allbtn-in{
width: 24%;
}
  .service-img-card-item {
    width: 40%;
  }
  .service-img-card-in h1 {
    font-size: 18px;
  }
  .service-img-card-in p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {

.allbtn {
  width: 70%;
}
.allbtn-in{
width: 34%;
}

  .service-img-card-item {
    width: 100%;
  }
  .service-img-card-in h1 {
    font-size: 17px;
  }
  .service-img-card-in p {
    font-size: 16px;
  }
}
