.overview{
display: flex;
width: 100%;
justify-content: center;
justify-items: center;
margin-top: 20px;
}
.overview-in{
display: flex;
flex-direction: column;
width: 90%;
justify-content: center;
justify-items: center;
}
.overview-heading{
color:#22d3ee;
font-size: 30px;
font-weight: 500;
text-align: center;
padding: 10px;
}
.overview-text{
color: #ffffffb6;
font-size: 18px;
padding: 10px 10px 10px 30px;
line-height: 2;
}
.business-automation{
display: flex;
width: 100%;
justify-content: center;
justify-items: center;
margin-top: 20px;
}
.business-automation-in{
display: flex;
flex-direction: column;
width: 90%;
justify-content: center;
justify-items: center;
}
.business-automation-in{
color: #ffffffb6;
font-size: 18px;
padding: 10px 10px 10px 30px;
line-height: 2;
}
.business-automation-in::before{

content: "Business Automation";
display: block;
color:#22d3ee;
font-size: 30px;
font-weight: 500;
text-align: center;
padding: 10px;

}