.service_hero {
  width: 100%;
  position: relative;

  /* background-color: #071635;
  background-image: radial-gradient(#ffffff 1px, transparent 1px);
  background-size: 25px 25px; */
  /* background-color: #111827;
  background-image:
    radial-gradient(#ffffff 1px, transparent 1px),
    radial-gradient(#ffffff 1px, transparent 1px);
  background-position: 0 0, 15px 15px;
  background-size: 30px 30px; */

  background-color: #071635;
  background-image: radial-gradient(#ffffff 1px, transparent 1px);
  background-size: 20px 20px;
  animation: moveDots 10s linear infinite;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}
@keyframes moveDots {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100px 100px;
  }
}
.service_hero_content {
  width: 90%;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.service_hero_image {
  width: 50%;
}
.service_hero_image img {
  width: 100%;
  height: 340px;
  border-radius: 10px;
}
.service_hero_text {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.service_hero_text h1 {
  font-size: 30px;
  color: #22d3ee;
  font-weight: bold;
}
.service_hero_text p {
  font-size: 20px;
  color: #ffffff;
}
.service_hero_button {
  display: flex;
  justify-content: center;
  justify-items: center;
}
.f-btn {
  color: white;
  background-color: #f97316;
  padding: 10px 50px 10px 50px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}
.f-btn:hover {
  background-color: #ffffff;
  color: #071635;
}
.service_about {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 20px;
}
.why-chose-heading {
  width: 80%;
  color:#22d3ee;
  font-size: 26px;
  text-align: start;
  font-weight: 500;
}
.service_about_in {
  width: 90%;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding: 30px;
}
.service_about_text {
  width: 80%;
}
.service_about_text h1 {
  font-size: 28px;
  color: #22d3ee;
  font-weight: 500;
  text-align: center;
}
.service_about_text p {
  font-size: 18px;
  color: #ffffffbb;
  text-align: center;
}
.service_about_img{
width: 100%;
display: flex;
justify-content: center;
justify-items: center;
justify-self: center;
margin-top: 14px;
gap: 20px;
}
.service_web_img{
width: 60%;

}
.service_web_img img{
width: 100%;
height: 400px;
border-radius: 10px;

}
.service_groth_text{
display: flex;
width: 40%;
flex-direction: column;
justify-content: center;
justify-items: center;

}
.service_groth_text h1{
color: #22d3ee;
font-size: 28px;
font-weight: 500;

}
.service_groth_text p{
color: #ffffff8f;
font-size: 17px;
}

.our_frontend_service {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 20px;
  background-color: #ffffff18;
  padding-bottom: 20px;
}
.our_fron_service_in {
  width: 90%;
  justify-content: center;
  justify-items: center;
  padding: 20px;
}
.our_frontend_service_text {
  width: 80%;
}
.our_frontend_service_text h1 {
  font-size: 28px;
  color:#22d3ee;
  font-weight: 500;
  text-align: center;
}
.our_frontend_service_card_main {
  display: flex;
  gap: 26px;
  justify-content: center;
  justify-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
  width: 100%;
}
.our_frontend_service_card {
  flex-direction: column;
  width: 23%;
  padding: 10px 20px;
  border-radius: 20px;
  background: #70bbbe2a;
  transition: 0.4s;
justify-content: center;
justify-items: center;
}
.img-icon{
width: 50px;
height: 50px;
border-radius: 20px;
  background: linear-gradient(to right, rgba(211, 218, 124, 0.61), rgba(0, 247, 255, 0.288),rgba(255, 255, 0, 0.384));

}

.our_frontend_service_card{
  position: relative;
  overflow: hidden;
}
.our_frontend_service_card::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, rgb(240, 58, 58), yellow, blue, rgb(43, 255, 0));
  transform: scaleX(0);
  transition: 0.4s;
}

.our_frontend_service_card:hover::before{
  transform: scaleX(1);
}

.our_frontend_service_card:hover{
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(3, 236, 236, 0.205);
background-color: #1e293b;
}


.our_frontend_service_card h1 {
  font-size: 17px;
  color:#22d3ee;
  text-align: center;
font-weight: 500;
}
.our_frontend_service_card p {
  font-size: 15px;
  color: #ffffffa9;
  margin-top: 10px;
}
.why-chose {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin-top: 10px;
}
.why-chose-in {
  width: 86%;
  display: flex;
  padding: 10px;
}
.why-heding {
  display: flex;
  gap: 8px;
}
.why-heding span{
  color: #29bba3;
  font-size: 18px;
  padding-top: 2px;
}
.why-heding p {
  color: #ffffff9f;
  font-size: 16px;
}
.arro-icon {
  margin-top: 6px;
  color: #f97316;
  font-size: 16px;
}
.dev_process {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin-top: 20px;
  background-color: #ffffff0e;
  padding-bottom: 20px;
}
.dev_process_in {
  width: 90%;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  justify-items: center;
}
.dev_process_heading {
  padding: 10px;
  color:#22d3ee;
  font-size: 28px;
  font-weight: 500;
}
.dev_process_card_main {
  display: flex;
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;
}
.dev_pross_card {
  flex-direction: column;
  border: 1px solid rgba(245, 243, 243, 0.144);
  width: 19%;
  text-align: center;
  border-radius: 16px;
  margin-top: 10px;
  background: #70bbbe2a;
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.dev_pross_card h1 {
  padding: 8px;
  color: #22d3ee;
  font-size: 30px;
  font-weight: 600;
}
.dev_pross_card p {
  padding: 4px 0px 12px;
  color: #e5ebea;
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 900px) {
  .our_frontend_service_card {
    width: 30%;
  }
  .dev_pross_card {
    width: 30%;
  }
}

@media (max-width: 768px) {

.service_hero_text{
margin-top: 10px;
}
  .service_hero_text h1 {
    font-size: 24px;
  }
  .service_hero_text p {
    font-size: 16px;
  }
  .service_hero_image img {
    height: 300px;
  }
  .service_about_text h1 {
    font-size: 24px;
  }
  .service_about_text p {
    font-size: 16px;
  }
  .service_about_text {
    width: 100%;
  }

.service_web_img{
width: 100%;

}
.service_web_img img{
width: 100%;
height: 350px;
}

.service_groth_text{
width: 100%;
margin-top: 10px;
gap: 4px;
padding-left: 20px;
}
.service_groth_text h1{
font-size: 24px;
}
.service_groth_text p{
font-size: 16px;
}


.service_about_img{
flex-direction: column;
}
  .our_frontend_service_card {
    width: 46%;
  }
  .our_frontend_service_text h1 {
    font-size: 24px;
  }
  .why-heding span {
    font-size: 16px;
  }
  .why-heding p {
    font-size: 14px;
  }
  .arro-icon {
    font-size: 24px;
    margin-top: 1px;
  }
  .why-chose-heading {
    font-size: 20px;
    padding-left: 10px;
  }
  .dev_pross_card {
    width: 46%;
  }
  .dev_process_heading {
    font-size: 24px;
  }
  .dev_process_card_main {
    gap: 15px;
  }
  .dev_pross_card h1 {
    font-size: 26px;
  }
  .dev_pross_card p {
    font-size: 17px;
  }
}

@media (max-width: 480px) {
  .service_hero_content {
    width: 90%;
    flex-direction: column;

  }
.service_hero_text{
margin-top: 20px;
}
  .service_hero_text h1 {
    font-size: 20px;
  }
  .service_hero_text {
    width: 100%;
  }
  .service_hero_text p {
    font-size: 16px;
  }
  .service_hero_image {
    width: 100%;
  }
  .service_hero_image img {
    height: 200px;
  }
  .service_about_text h1 {
    font-size: 20px;
  }
  .service_about_text p {
    font-size: 15px;
  }
 
.service_web_img img{
width: 100%;
height: 250px;
}

.service_groth_text{
width: 100%;
margin-top: 10px;
gap: 4px;
padding-left: 14px;
}
.service_groth_text h1{
font-size: 20px;
}
.service_groth_text p{
font-size: 15px;
}

  .our_frontend_service_card {
    width: 100%;
  }
  .our_frontend_service_text h1 {
    font-size: 20px;
  }
  .arro-icon {
    font-size: 32px;
    margin-top: 0px;
  }
  .why-chose-heading {
    font-size: 18px;
    padding-left: 16px;
  }
  .dev_pross_card {
    width: 100%;
  }
  .dev_process_heading {
    font-size: 20px;
padding-top: 10px;
  }
  .dev_pross_card h1 {
    font-size: 24px;

  }
  .dev_pross_card p {
    font-size: 16px;
  }
}
