/* contact-container*/
.contact {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #cfdff1;
  padding: 10px 0;
}
.contact-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
}
.left-section,
.right-section {
  display: flex;
  gap: 20px;
  align-items: center;
  color: #123a6c;
  font-size: 14px;
  font-weight: 600;
}
.item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.icon {
  font-size: 16px;
}

.item a:hover {
  color: #4c8b81;
}

/* NAVBAR */
.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  background: whitesmoke;
  box-shadow:
    rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.navbar-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.logo img {
  width: 200px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: #123a6c;
}
.nav-links {
  display: flex;
  gap: 30px;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
}
.nav-link {
  color: #123a6c;
  text-decoration: none;
}
.nav-link:hover {
  color: #4c8b81;
}
.dropdown {
  position: relative;
  cursor: pointer;
  z-index: 9;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 180px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown.no-hover:hover .dropdown-menu {
  display: none;
}
.dropdown-menu.large {
  width: 700px;
  position: absolute;
  left: -300px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.menu-title {
  font-size: 18px;
  margin-bottom: 5px;
}
.dropdown-menu ul {
  list-style: none;
}
.dropdown-menu li {
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 14px;
}
.dropdown-menu li:hover {
  background: #daebf0;
  transform: translateX(5px);
}
.dropdown-menu a {
  text-decoration: none;
  color: #123a6c;
}
.dropdown-menu a:hover {
  color: #4c8b81;
}
.quote-btn {
  background: #4c8b81;
  color: white;
  border: none;
  padding: 8px 15px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}
.quote-btn:hover {
  background: #123a6c;
}

/* text mome*/
.text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.heading-box {
  display: flex;
  width: 80%;
  padding: 16px;
}
.heading {
  color: #092241;
  font-weight: bold;
  font-size: 28px;
  font-family: serif;
  text-align: center;
}
.subheading-box {
  display: flex;
  width: 80%;
  padding: 8px;
}
.subheading {
  color: #092241d2;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

/* banner */
.banner-container {
  width: 100%;
  background: linear-gradient(135deg, #354969, #6f8db8);
  /* background: #37558d; */
  padding: 24px;
  margin-top: 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-heading {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 28px;
}
.banner-subheading {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 16px;
}
/* service card */
.services-container {
  display: flex;
  width: 100%;
  padding: 8px;
  /* background-color: white; */
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.services-wrapper {
  display: flex;
  gap: 16px;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
}
.service-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 255px;
  padding: 8px;
  margin-top: 16px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}
.service-card:hover {
  background-color: #1e293b;
  color: white;
  transform: rotateY(180deg);
  box-shadow: rgba(100, 233, 240, 0.904) 0px 20px 30px -10px;
}
.service-card:hover * {
  transform: rotateY(180deg);
}
.service-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-image {
  width: 80px;
  height: 64px;
  padding: 4px;
  border-radius: 16px;
}
.service-title {
  color: #092241;
  font-weight: bold;
  font-size: 18px;
  margin-top: 8px;
}
.service-card:hover .service-title {
  color: white;
}
.service-subitem {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
  margin-top: 10px;
}
.product-main-container {
  display: flex;
  width: 100%;
  margin-top: 32px;
  background-color: #f1f4fc;
  justify-content: center;
}
.pro-in-container {
  display: flex;
  width: 90%;
  padding: 16px;
  gap: 16px;
}
.leftsection {
  width: 100%;
  padding: 16px;
  margin-top: 8px;
}
.rightsection {
  display: flex;
  width: 100%;
}
.leftsection p {
  font-weight: 500;
  font-size: 18px;
  font-family: "Segoe UI", Arial, sans-serif;
}
.leftsection p span {
  font-weight: bold;
  font-size: 20px;
  color: #092241;
  font-family: "Segoe UI", Arial, sans-serif;
}
.image-style {
  width: 100%;
  height: 240px;
  border-radius: 32px;
  margin-top: 24px;
  object-fit: cover;
}
/* GRID */
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  width: 100%;
  margin: 0 auto;
}
.product-card {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 16px;
  border: 1px solid #e5e7eb;
  padding: 16px;
  text-align: center;
  z-index: 1;
}
.product-card::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0%;
  height: 0%;
  background-color: #37558d;
  transform: translate(-50%, -50%);
  transition:
    width 0.3s ease,
    height 0.3s ease;
  z-index: -1;
}
.product-card:hover::before {
  width: 200%;
  height: 200%;
}
.product-card:hover {
  color: #ffffff;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.product-card:hover h2,
.product-card:hover a {
  color: #ffffff;
}
.card-image {
  width: 100px;
  height: 100px;
  margin: 0 auto 16px;
  border-radius: 16px;
  object-fit: cover;
}
.card-title {
  font-size: 16px;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 8px;
}
.card-link {
  color: #112979d5;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}
.card-link:hover {
  text-decoration: underline;
  color: #4c8b81;
}
.maim-growth {
  display: flex;
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 20px;
  justify-content: center;
  justify-items: center;
}
.text-box {
  width: 70%;
  text-align: center;
  padding-top: 30px;
}
.text-box h1 {
  color: #f7f1f1;
  font-size: 32px;
  font-weight: bold;
  font-family: "Segoe UI", Arial, sans-serif;
}
.scale-card {
  display: flex;
  width: 80%;
  position: absolute;
  top: 200px;
  padding: 16px;
  gap: 16px;
}
/*mv-CARD */
.mv-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #9ca3af;
  border-radius: 6px;
  padding: 16px;
  background-color: #ffffff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease;
}
.mv-card:hover {
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
  transform: translateY(-32px);
}
.mv-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.mv-heading h1 {
  font-size: 20px;
  color: #092241;
  font-weight: 600;
  font-family: "Segoe UI", Arial, sans-serif;
}
.mv-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  background-color: #022d62;
  border: 1px solid #9ca3af;
  border-radius: 6px;
}
.mv-image-box img {
  border-radius: 12px;
  max-width: 100%;
}
.mv-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.mv-title {
  font-size: 20px;
  color: #092241;
  font-weight: 600;
  font-family: "Segoe UI", Arial, sans-serif;
}
.mv-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.mv-text p {
  font-size: 16px;
  line-height: 1.6;
  color: #092241d2;
  font-family: "Segoe UI", Arial, sans-serif;
}
.gap-space {
  display: flex;
  margin-top: 15em;
}
.certified-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #354969, #6f8db8);
}
.certified-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 32px;
}
.certified-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.certified-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.certified-card .icon {
  font-size: 60px;
  color: rgb(14, 241, 241);
}
.title {
  color: #e2e8f0;
  font-size: 20px;
  font-weight: 600;
  font-family: "Segoe UI", Arial, sans-serif;
}
.count {
  color: #e2e8f0;
  font-size: 48px;
  font-weight: 500;
}
/* our success */
.our-success {
  width: 100%;
  height: 560px;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  padding: 16px;
  position: relative;
  background-image: url("public/image/vector.avif");
  background-size: cover;
  background-position: center;
}
.ourcolor {
  inset: 0;
  position: absolute;
  background: rgba(226, 227, 228, 0.548);
}
.our-success-box {
  width: 90%;
  display: flex;
  gap: 10px;
}
.success-text {
  width: 35%;
  margin-top: 40px;
}
.success-text h1 {
  color: #e2e8f0;
  font-weight: bold;
  font-size: 28px;
  font-family: "Segoe UI", Arial, sans-serif;
}
.success-text p {
  margin-top: 16px;
  font-weight: 600;
  font-size: 20px;
  color: #a5b4fc;
  font-family: "Segoe UI", Arial, sans-serif;
}

/* SCROLL SECTION */
.banner-scroll {
  display: flex;
  width: 65%;
  gap: 24px;
  margin-top: 40px;
  height: 450px;
  overflow-y: auto;
  border-radius: 16px;
}
.banner-scroll::-webkit-scrollbar {
  display: none;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.column-offset {
  margin-top: 80px;
}
.cloud-main {
  display: flex;
  width: 100%;
}
.cloud-g {
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}
.cloud-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  color: #4c8b81;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(115, 222, 236, 0.952);
}
.cloud-g:hover .cloud-content {
  transform: translateY(-72px);
  color: #ffffff;
}
.c-bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: 0.3s;
}
.cloud-g:hover .c-bg {
  opacity: 1;
}
.ovcole {
  position: absolute;
  inset: 0;
  background: white;
  transition: 0.3s;
  border-radius: 16px;
}
.cloud-g:hover .ovcole {
  opacity: 1;
  background: rgba(0, 0, 0, 0.253);
}
.imgcloud {
  z-index: 10;
  padding-top: 0px;
  padding-left: 10px;
}
.imgcloud img {
  width: 55px;
  height: 55px;
  border-radius: 16px;
}
.imgcloud h1 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 12px;
}
.imgcloud p {
  font-size: 16px;
  line-height: 1.6;
  margin-top: 10px;
}
.cloud-btn {
  display: inline-block;
  margin-top: 12px;
  padding: 8px 16px;
  border-radius: 16px;
  background-color: transparent;
  color: #ffffff;
  transition: 0.3s;
}
.cloud-g:hover .cloud-btn {
  background-color: #4c8b81;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .contact-wrapper {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  .left-section,
  .right-section {
    justify-content: center;
  }
  .menu-icon {
    display: block;
  }
  .dropdown-menu {
    position: static;
    width: 100%;
  }
  .dropdown-menu.large {
    position: static;
    width: 100%;
    max-height: 300px;
    overflow: auto;
  }
  .nav-links {
    position: absolute;
    top: 100%;
    left: -38px;
    width: 30%;
    background: #ffffff;
    flex-direction: column;
    display: none;
    padding: 10px;
    z-index: 9;
    border-radius: 10px;
  }
  .nav-links.show {
    display: flex;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .heading-box,
  .subheading-box {
    width: 90%;
  }
  .heading {
    font-size: 20px;
  }
  .subheading {
    font-size: 16px;
  }
  .banner-heading {
    font-size: 24px;
  }
  .banner-subheading {
    font-size: 16px;
  }
  .service-card {
    max-width: 100%;
  }
  .pro-in-container {
    flex-direction: column;
  }
  .maim-growth {
    display: flex;
    width: 100%;
    height: 100rem;
  }
  .text-box h1 {
    font-size: 26px;
    font-weight: bold;
  }
  .scale-card {
    flex-direction: column;
  }
  .gap-space {
    display: flex;
    margin-top: 16em;
  }
  .certified-container {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .certified-card .icon {
    font-size: 50px;
  }
  .title {
    font-size: 18px;
  }
  .count {
    font-size: 38px;
  }
  .certified-container {
    flex-direction: column;
  }
  .our-success-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .our-success-box {
    width: 90%;
    display: flex;
  }
  .success-text {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
  .success-text h1 {
    font-size: 20px;
  }
  .success-text p {
    font-size: 16px;
  }
  .banner-scroll {
    display: flex;
    width: 100%;
  }
  .imgcloud h1 {
    font-size: 16px;
  }
  .imgcloud p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .item {
    align-items: center;
    gap: 5px;
  }
  .item a {
    font-size: 12px;
  }
  .icon {
    font-size: 12px;
  }
  .nav-links {
    position: absolute;
    left: -20px;
    width: 50%;
  }
  .quote-btn {
    font-size: 14px;
    padding: 0px;
  }
  .leftsection p {
    font-size: 16px;
  }
  .leftsection p span {
    font-size: 16px;
  }
  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .text-box h1 {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
  }
  .mv-text p {
    font-size: 14px;
  }
  .gap-space {
    display: flex;
    margin-top: -1em;
  }
  .banner-scroll {
    flex-direction: column;
  }
  .success-text h1 {
    font-size: 18px;
  }
  .success-text p {
    font-size: 14px;
  }
  .imgcloud h1 {
    font-size: 14px;
  }
  .imgcloud p {
    font-size: 12px;
  }
}
