@import "tailwindcss";
body::-webkit-scrollbar {
    display: none;
}

/* body {
  background-color: #0f172a;
  
} */
body {
  /* background-color: #0f172a; */
  /* background-color: #1e293b; */
 /* dark navy */

}
body {
  background: linear-gradient(135deg, #0f172a, #1e293b);
}
/* scrollbar hide */

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}