/* #app {
    height: 100%;
} */

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-slider-container{
width: 100%;

}

.swiper {
  width: 100%;
height: 520px;

}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.swiper-slide img {
  display: block;
  width: 100%;
}

 .swiper img {
  width: 100%;
  height: 520px;

}  

.swiper-button-prev {
  color: rgba(255, 255, 255, 0.11);
}

.swiper-button-next {
  color: rgba(255, 255, 255, 0.11);
}

.slider-container {
  display: flex;
  width: 100%;
  position: relative;
}

.slider-text {
  position: absolute;
  top: 200px;
  left: 16%;
  font-size: 28px;
  font-weight: bold;
  color: white;
 font-family: 'Poppins', 'Arial', sans-serif;
}

.swiper-slide::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.205);
  /* gradient use karna ho to */
  /* background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.2)); */

  
  z-index: 1;
}
/* compmany */
.companySlider {
  width: 100%;
}
.companySlider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
    background: linear-gradient(135deg, #354969, #6f8db8);
  border-radius: 12px;
  height: 90px;
  transition: all 0.3s ease;
}
.companySlider .swiper-slide:hover {
  transform: scale(1.09);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}
.companySlider img {
   width: 100%;
  border-radius: 12px;
  object-fit: cover; 
}
.swiper-pagination-bullet {
  display: none;
}
.partners-slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding: 20px;
    background: linear-gradient(135deg, #354969, #6f8db8);
}
.partners-slidet-title {
  text-align: center;
}
.partners-slidet-title h1 {
  font-weight: bold;
  color: #29bba3;
    font-size: 24px;
}
.partners-content {
  width: 90%;
  margin-top: 20px;
  padding: 16px;
  border-radius: 12px;
  overflow: hidden;
}
@media (max-width: 768px) {

.swiper {
height: 350px;

}
 .swiper img {
    height: 350px;
  }
  .slider-text {
    font-size: 20px;
    top: 130px;
    left: 8%;
  }
.partners-content {
padding: 1px;
}
.companySlider .swiper-slide {
height: 70px ;
}
.partners-slidet-title h1 {
   font-size: 20px;
}
}
@media (max-width: 480px) {
  .slider-text {
    font-size: 16px;
  }
.companySlider .swiper-slide {
height: 55px ;
}
.partners-slidet-title h1 {
   font-size: 18px;
}
}
.main-mv-card{
width: 90%;
display: flex;
gap: 5px;
justify-content: space-between;
}

.mv-card {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  width: 350px;
  height: 400px;
  border-radius: 6px;
  padding: 20px;
  background-color: #ffffff;

}
.mv-card:hover {
  background: linear-gradient(135deg, #dde2ee, #d0ddf3);
  box-shadow: rgba(100, 233, 240, 0.904) 0px 20px 30px -10px;
}

.mv-card img {
  height: 250px;
  width: 300px;
  border-radius: 10px;
margin-top: 5px;
}
.mv-card h1 {
  font-size: 18px;
  color: #092241;
  font-weight: 500;
  font-family: "Segoe UI", Arial, sans-serif;
  text-align: center;
}
.mv-card h2 {
  font-size: 18px;
  color: #092241;
  font-weight: 500;
  font-family: "Segoe UI", Arial, sans-serif;
  text-align: center;
 margin-top: 5px;
}
.mv-card p {
  font-size: 15px;
  font-weight: 500;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #11161dd2;
  line-height: 1.5;
 margin-top: 5px;
text-align:start;
}

@media (max-width: 768px) {
.main-mv-card{
width: 100%;
display: flex;
flex-direction: column;
gap: 10px;
}

.mv-card {
  width: 100%;
  height: 300px;
  border-radius: 6px;
  padding: 20px;

}

.mv-card img {
  height: 145px;
  width: 90%;
}
 .mv-card h1 {
  font-size: 16px;
 }
.mv-card h2 {
  font-size: 16px;
}
.mv-card p {
  font-size: 14px;
}

}

@media (max-width: 480px) {
.mv-card {
  width: 100%;
  height: 325px;

}
 .mv-card h1 {
  font-size: 16px;
 }
.mv-card h2 {
  font-size: 16px;
}
.mv-card p {
  font-size: 14px;
}

}